.div11{
    width: 600px;
    height: 400px;
    background-color: cyan;
    margin: 100px auto;
    transition:all 0.5s 0.5s linear;
   
    position: relative;
   
}
.div11:hover{
    width: 70px;
    height: 70px;
   border-radius:50%;
}
p{
    text-align: center;
    margin:100px auto;
    position: relative;
    top:40%
    
}
.div2{
    width: 600px;
    height: 400px;
    background-color: darkkhaki;
    position: absolute;
    margin: 100px auto;
    animation-name: durjoy;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-fill-mode: backwards;
    animation-play-state: running;
}
@keyframes durjoy{
   
    0%{ 
        background-color: rgb(12, 34, 34);
        left: 0px;
        right: 0px;
    }
    25% {
        background-color: rgb(155, 198, 75);
        left: 500px;
        right: 500px;
        
    }
    50%{
        background-color:rgb(44, 81, 228);
        left: 900px;
        right: 900px;
        border-radius: 50%;
    }
    100%{
        background-color: rgb(237, 25, 25);
        left: 0px;
        right: 500px;
        border-radius: 50%;
    }
}
