/*External css */
body{
    background-color:mistyrose;
    background-image:url(280.jpg);
    background-repeat: no-repeat;
    margin:10px; 
}
h1{
    text-align: center;
}
h3{
    color: blue;  
}
.p1{
    border: 5px;
    border-style: dotted;
    border: width 10px;;
    border-color: hotpink;
    color: rgb(142, 135, 216);
    border-radius:15px;
}
div{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: 5px solid red;
    margin: 20px 20px 20px 20px;
    padding: 20px 10px 7px 79px;
}
.hello{
    color: deeppink;
}
.out{
    margin: 20px 50px 200px 5px;
    color: white;
    border: 10px solid red;
    outline: 5px solid rgb(213, 224, 225);
    outline-offset: 5px;
}