body{
    background-color: black;
}
.div1{
    width: 600px;
    height: 600px;
    border:20px solid chocolate;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    animation: kaka 2s infinite forwards;
}
@keyframes kaka{
    0%{
        border-color:rgb(42, 208, 31);
        transform: scale(1);
    }
    25%{
        border-color: rgb(198, 11, 183);
        transform: scale(0.5);
    }
    50%{
        border-color: rgb(35, 14, 221);
        transform: scale(0.8);
    }
    75%{
        border-color: rgb(227, 14, 39);
        transform: scale(1);
    }
    100%{
        border-color: rgb(28, 186, 207);
        transform: scale(1.1);
    }
}
.div2{
    width: 300px;
    height: 300px;
    border:10px solid rgb(6, 4, 3);
    margin: 100px auto;
    animation: lala 2s infinite alternate;
}
@keyframes lala{
    0%{
        border-color:rgb(215, 16, 195);
        left: 0px;
        right: 0px;
        transform: scale(1.8);
        border-width: 20px;
    }
    25%{
        border-color: rgb(243, 239, 113);
        left: 0px;
        right: 500px;
        transform: scale(1);

    }
    50%{
        border-color: rgb(136, 33, 2);
        left: 600px;
        right: 600px;
        transform: scale(0.3);
    }
    75%{
        border-color: rgb(55, 184, 8);
        border-width: 20px;
        left: 500px;
        right: 500px;
        transform: scale(1.8);
    }
    100%{
        border-color: rgb(28, 186, 207);
        left: 500px;
        right: 0px;
        border-width: 20px;
        transform: scale(1.1);
    }
}