.flex{
    background-color: rgb(82, 222, 222);
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.flex > div{
    background-color: gray;
    margin: 5px;
    padding: 0px;
    width: 100px;
}