a:hover{
    color: brown;
}
h2:nth-child(3){
    color: blue;
}
.l::first-letter{
    font-size:50px;
    color: red;
}
h1::before{
    content: url();
   
}
h1{
    font-size: 40px;
    color: deeppink;
    text-align: center;
    text-shadow: 5px 2px 4px rgb(10, 8, 1);
}
img{
    width: 400px;
}
img:hover{
    opacity:0.8;
}
.bg{
    width: 600px;
    height: 400px;
    overflow: hidden;
    background: url(523.png) no-repeat center;
}
.k{
    font-size: 30px ;
    
}
.box .k{
text-align: center;
    color: rgb(220, 205, 205);
    background:radial-gradient(red,green,blue);
    padding: 5px;
    margin: 200px;

}