*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(30, 29, 29);
}
.div1{
    position: relative;
    width: 350px;
    height: 400px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.div1::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff,#45f3ff,#45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.div1::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,red,red,red,red,red);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -2.9s;
}
@keyframes animate{

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.div1 form{
    position: absolute;
    inset: 2px;
    background-color: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.div1 form .user{
    position: relative;
    width: 300px;
    margin-top: 30px;
}
.div1 form .user input{
    position: relative;
    width: 100%;
    padding: 10px 0px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
}
.div1 form .user span{
    position: absolute;
    left: 0;
    padding: 10px 10px 10px;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition:0.5s;
}
.div1 form .user input:valid ~ span,
.div1 form .user input:focus ~ span{
    color: rgb(248, 248, 248);
    font-size: 0.75em;
    transform: translateY(-34px);
}
.div1 form .user i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.div1 form .user input:valid ~ i,
.div1 form .user input:focus ~ i{
    height: 44px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link a{
    margin-top: 10px;
    margin: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.link a:hover{
    color: white;
    cursor: pointer;

}
.div1 form input[type="submit"]{
    margin-top: 10px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    width: 100px;
}
.div1 form input[type="submit"]:hover{
    background-color: #8f8f8f;
}